body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../img/background/bg_3840x2560.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
