/*  Popup stílus  */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(6px);
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Popup stílus vége*/
