<footer class="footer">
  <div class="footer-content">
    <div class="footer-text">
      <p>
        &copy; 2025 DropZone Bites.
        <a href="#/terms" data-i18n="footer.terms">Terms of Service</a> |
        <a href="#/privacy" data-i18n="footer.privacy">Privacy Policy</a> |
        <a href="#/contact" data-i18n="footer.contact">Contact Us</a> |
        <a href="#/about" data-i18n="footer.about">About Us</a>
      </p>
    </div>

    <p data-i18n="social-icons.follow">Follow us on Social media!</p>
    <div class="social-icons">
      <a href="#" target="_blank" aria-label="Facebook">
        <img src="./img/icons/social/icon_fb.png" alt="Facebook" />
      </a>
      <a href="#" target="_blank" aria-label="Twitter">
        <img src="./img/icons/social/twitter-icon_v1.png" alt="Twitter" />
      </a>
      <a href="#" target="_blank" aria-label="YouTube">
        <img src="./img/icons/social/yt-icon_v1.png" alt="YouTube" />
      </a>
      <a href="#" target="_blank" aria-label="Discord">
        <img src="./img/icons/social/discord-icon_v1.png" alt="Discord" />
      </a>
      <a href="#" target="_blank" aria-label="Instagram">
        <img src="./img/icons/social/instagram-icon_v1.png" alt="Instagram"
      /></a>
      <a href="#" target="_blank" aria-label="GitHub">
        <img src="./img/icons/social/github-icon_v1.png" alt="GitHub"
      /></a>
    </div>
  </div>
</footer>
