<div id="logbook-sidebar" class="sidebar auth-only">
  <h2 data-i18n="logbook-sidebar.title">LOGBOOK</h2>
  <ul>
    <li>
      <a href="#/logbook" data-i18n="logbook-sidebar.overview">Overview</a>
    </li>
    <li>
      <a href="#/logbook/entries" data-i18n="logbook-sidebar.entries"
        >Entries</a
      >
    </li>
    <li>
      <a href="#/logbook/stats" data-i18n="logbook-sidebar.stats">Statistics</a>
    </li>
    <li>
      <a href="#/logbook/add-entry" data-i18n="logbook-sidebar.addEntry"
        >Add Entry</a
      >
    </li>
  </ul>
</div>
