<div class="navbar">
  <a href="#/home" class="logo">DropZone Bites</a>
  <div class="hamburger mobile-only" id="hamburger-menu">☰</div>
  <div class="nav-main desktop-only">
    <ul class="nav-links">
      <li><a href="#/recipes" data-i18n="navbar.recipes">Recipes</a></li>
      <li><a href="#/dropzones" data-i18n="navbar.dropzones">Dropzones</a></li>
      <li><a href="#/logbook" data-i18n="navbar.logbook">Logbook</a></li>
      <li><a href="#/kell" data-i18n="navbar.planes">Planes</a></li>
      <li><a href="#/safety" data-i18n="navbar.safety">Safety</a></li>
      <li><a href="#/blog" data-i18n="navbar.blog">Blog</a></li>
      <li class="guest-only">
        <a href="#/register" data-i18n="navbar.register">Register</a>
      </li>
      <li class="guest-only">
        <a href="#/login" data-i18n="navbar.login">Login</a>
      </li>
      <li class="auth-only">
        <a href="#/profile" data-i18n="navbar.profile">Profile</a>
      </li>
      <li class="auth-only">
        <a href="#" id="logout-btn" data-i18n="navbar.logout">Logout</a>
      </li>
    </ul>
  </div>
  <div class="language-switcher desktop-only">
    <img
      src="./img/icons/flags/flag_uk.png"
      alt="EN"
      class="flag"
      data-lang="en"
    />
    <img
      src="./img/icons/flags/flag_hu.png"
      alt="HU"
      class="flag"
      data-lang="hu"
    />
    <img
      src="./img/icons/flags/flag_de.png"
      alt="DE"
      class="flag"
      data-lang="de"
    />
  </div>
  <button id="button-auth" style="margin-left: 1rem">Login váltás</button>
</div>
<div id="curtain-menu" class="curtain-menu">
  <div class="curtain-content">
    <span id="close-curtain" class="close-btn">✕</span>
    <ul class="curtain-links">
      <li><a href="#/recipes" data-i18n="navbar.recipes">Recipes</a></li>
      <li><a href="#/dropzones" data-i18n="navbar.dropzones">Dropzones</a></li>
      <li><a href="#/blog" data-i18n="navbar.blog">Blog</a></li>
      <li><a href="#/kell" data-i18n="navbar.planes">Planes</a></li>
      <li><a href="#/safety" data-i18n="navbar.safety">Safety</a></li>
      <li class="guest-only">
        <a href="#/register" data-i18n="navbar.register">Register</a>
      </li>
      <li class="guest-only">
        <a href="#/login" data-i18n="navbar.login">Login</a>
      </li>
      <li class="auth-only">
        <a href="#/profile" data-i18n="navbar.profile">Profile</a>
      </li>
      <li class="auth-only">
        <a href="#" id="logout-btn" data-i18n="navbar.logout">Logout</a>
      </li>
    </ul>
    <div class="curtain-language-switcher mobile-only">
      <img
        src="./img/icons/flags/flag_uk.png"
        alt="EN"
        class="flag"
        data-lang="en"
      />
      <img
        src="./img/icons/flags/flag_hu.png"
        alt="HU"
        class="flag"
        data-lang="hu"
      />
      <img
        src="./img/icons/flags/flag_de.png"
        alt="DE"
        class="flag"
        data-lang="de"
      />
    </div>
  </div>
</div>
