<div id="recipes-sidebar">
  <h2>RECIPES</h2>
  <ul>
    <li>
      <a href="#/recipes" data-i18n="recipes-sidebar.allRecipes">All Recipes</a>
    </li>
    <li>
      <a href="#/favorites" data-i18n="recipes-sidebar.favoriteRecipes"
        >Favorite Recipes</a
      >
    </li>
    <li class="auth-only">
      <a href="#/my-recipes" data-i18n="recipes-sidebar.myRecipes"
        >My Recipes</a
      >
    </li>
    <li class="auth-only">
      <a href="#/add-recipe" data-i18n="recipes-sidebar.addRecipes"
        >Add Recipe</a
      >
    </li>
  </ul>
</div>
